* {
    margin: 0;
    padding: 0;
}

:root {
    --white: #FAFAFA;
    --dark-white: #E4E4E4;
    --black: #0A0A0A;
    --light-black: #121212;
    --primary-clr: #1992D4;
    --light-primary-clr: #1E9FE4;
    --dark-primary-clr: #1585C2;
    --accent-clr: #F0B429;
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    min-height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
}

nav {
    grid-row: 1 / 3;
    background-color: var(--primary-clr);
}

.nav-wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: repeat(12, 1fr);
    align-items: center;
    padding: 12px;
    height: 60%;
}

.logo-icon,
.nav-icon {
    justify-self: center;
}

.logo-icon {
    width: 48px;
    height: 48px;
}

.nav-icon {
    width: 24px;
    height: 24px;
}

.nav-wrapper > h3,
.nav-wrapper > p {
    color: var(--white);
    padding-left: 1vw;
}

.nav-wrapper > h3 {
    font-size: calc(0.5rem + 1vw);
}

.nav-wrapper > p {
    font-size: calc(0.5rem + 0.75vw);
    font-weight: 700;
}

.home {
    grid-row: 3 / 4;
}

.profile {
    grid-row: 4 / 5;
}

.messages {
    grid-row: 5 / 6;
}

.history {
    grid-row: 6 / 7;
}

.tasks {
    grid-row: 7 / 8;
}

.communities {
    grid-row: 8 / 9;
}

.settings {
    grid-row: 10 / 11;
}

.support {
    grid-row: 11 / 12;
}

.privacy {
    grid-row: 12 / 13;
}

header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: var(--white);
    padding: 12px 48px;
}

.header-search {
    display: grid;
    grid-template-columns: 1fr 8fr;
}

.header-profile {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
}

.header-greeting {
    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-template-rows: 1fr 1fr;
}

.header-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.search-icon,
.bell-icon {
    width: 24px;
    height: 24px;
}

.avatar-small,
.avatar-big {
    border-radius: 50%;
}

.avatar-small {
    width: 32px;
    height: 32px;
}

.avatar-big {
    width: 64px;
    height: 64px;
    grid-row: 1 / 3;
}

header > div > p {
    display: inline;
}

main {
    background-color: var(--dark-white);
}