* {
    margin: 0;
    padding: 0;
}

:root {
    --white: #FAFAFA;
    --dark-white: #DFDFDF;
    --black: #0A0A0A;
    --light-black: #121212;
    --primary-clr: #1992D4;
    --light-primary-clr: #1E9FE4;
    --dark-primary-clr: #1585C2;
    --accent-clr: #F0B429;
}